<footer>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
</footer>