<footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 delivr2U</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="insurance">Privacy</a></li>
          <li class="list-inline-item"><a href="terms">Terms</a></li>
          <li class="list-inline-item"><a href="help">Support</a></li>
        </ul>
      </footer>
    </div>
