<h1>Users</h1>

<ul>
  <% @user.each do |u| %>
    <li><%= link_to(u.name, user_path(u)) %></li>
  <% end %>
</ul>

<h1>Requests</h1>

<div id="request-list">
<% @requests.each do |r| %>
<div class="Request"><%= link_to "#{r.destination}", request_path(r) %></div>
<% end %>
</div>