<h1>Requests#edit</h1>

<%= form_for @request do |f| %>
<%= f.text_field :destination, placeholder: "Destination" %>
<br>
<%= f.text_area :description, placeholder: "description" %>
<%= f.submit %>
<% end %>