<br>
<br>
<div class="card" style="width: autorem;">
  <div class="card-header">
  <h3>Types of Requests</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Muscle with Truck 
    Select this option if you need someone with a truck to 
    pickup an item(s) for you and drop them off locally. For
    further information about types of items accepted please
    refer to the "Help" tab. Examples of use: Moving locally and 3rd party furniture pickup.
    <br><a class="" href="/requests">Get a Muscle with a Truck</a></br>
</li>
    <li class="list-group-item">Muscle Only
    Select this option if you need someone to assist you 
    in moving, lifting, and production setup or tare down.
    <br><a class="" href="/requests">Get Muscle</a></br>
</li>
    <li class="list-group-item">Flower Delivery
    Select this option if you want flowers sent to someone. 
    Explore the types of flowers, and/edible arrangements you want and we 
    will deliver them to whomever you choose. 
     <br><a class="" href="/requests">Send a Gift</a></br>
</li>
    <li class="list-group-item">Good-Will Delivery
    It’s always a good time to give to the needy. 
    By selecting this option we will pick up your clothes, shoes and other 
    items that you would like to be given to those less fortunate. For further 
    information about this process, please refer to the "Help" tab.
    <br><a class="" href="/requests">Help Someone in Need</a></br>
  </li>
  </ul>
</div>