<style>
h3 {
    text-align: center;
}
</style>
<br>
<br>
<div class="card" style="width: autorem;">
  <div class="card-header">
<h3>Types of Requests</h3>
</div>
  <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Muscle with Truck </h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">$75 <small class="text-muted">up to 2 hours of service</small></h2>
            <ul class="list-unstyled mt-3 mb-4">
               <li class="list-group-item">
                Select this option if you need someone with a truck to 
                pickup an item(s) for you and drop them off locally. 
                Contact us to get more details!
                </li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary"><%= link_to "Get a Muscle with a Truck", new_request_path %></button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Muscle Only</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$45 <small class="text-muted">up to 2 hours of service</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                 <li class="list-group-item">
              Select this option if you need someone to assist you 
              in moving, lifting, and production setup or tare down.
            </li> 
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary"><%= link_to "Get a Muscle", new_request_path %></button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Good-Will Delivery</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$50 <small class="text-muted">Flat Rate</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
             <li class="list-group-item">
               It’s always a good time to give to those in need. 
                By selecting this option we will pick up your clothes, shoes and other 
                items that you would like to be given to those less fortunate.
            </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary"><%= link_to "Give back :)", new_request_path %></button>
          </div>
        </div>
    </div>
    <div>
    <button type="button" class="btn btn-lg btn-block btn-outline-primary"><%= link_to "Need Something Else?", new_request_path %></button>
   </div>
