<title>delivr2U</title>
<style>
p {
 text-align: center;
 color: grey;
}
</style>
<br>
<br>
<br>
<br>
<body>
<p>We recieved your request and will contact you shortly<br>Thanks again for choosing delivr2U!</p>
</body>
