 <style>
 body {
   background-repeat: no-repeat;
   text-align: justify;
   background-image: url("https://images.unsplash.com/30/ny-filtered.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a6436b92db17c3441e05b524481a0107&auto=format&fit=crop&w=500&q=60");
   background-size: cover;
   color: #505050;
}
</style>
<body>
<main role="main">
        <div class="p-3">
        <div class="col-md-7 px-0">
          <h1 class="display-3 font-italic">About Us</h1>
          <p class="lead my-3"><p class="lead">Our mission is to create a community of friends who help each other move within the city. We can not accomplish this with out you.
        Everyone has a duty and obligation to do right by those around them and with innovation in mind we plan to be your go to place for all your delivery needs. 
      </div>
      </div>
    </main>

    <div class="card-deck">
  <div class="card">
    <img class="" src="https://images.unsplash.com/photo-1520964209735-72dcb6d2695d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c557554d87fc0e1c13afef6d33b943b5&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Meet Kevin</h5>
      <p class="card-text">He's been with us from the start as our assistant data analyist. When Kevin isn't working he enjoys playing the piano, 
      taking long walks on the beach and watching Marvel movies with his younger brother.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1526667458881-3455b57a7c50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae5f66f24b76d34e022054a858397de3&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Meet Brittany</h5>
      <p class="card-text">Brittany just joined our team as a marketing exec and social media manager. In her free time she loves to go camping, to the opera, and enjs a good autobiography. If she could go anywhere it would be to Italy because she she heard the people are so nice there and the food is superb! </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1508341591423-4347099e1f19?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b83c9d9a71fa57a216d3343f40c3747c&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Meet John, our muscle</h5>
      <p class="card-text">John has helped over 30 clients moved since we opened our doors. You can count on him
       to move your belongings with a smile on his face. In John's free time he plays basketball with his friends, teaches english as a second language and goes salsa dancing with his girlfriend</p>
    </div>
  </div>
</div>
    </body>
