 <style>
 body {
   background-repeat: no-repeat;
   text-align: justify;
   background-image: url("https://images.unsplash.com/photo-1521710385092-ffb18195a459?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb3acf37817cb8ac64708b3726a3d777&auto=format&fit=crop&w=500&q=60");
   background-size: cover;
   color: blue;
}
</style>

<header>
<div id="banner">
    <div class="banner-text">
        <h2>delivr2U</h2>
        <h2></h2>
        <p></p>
    </div>
</div>
<header>
<body>
<main role="main">
        <div class="jumbotron p-3 text-rounded bg-green">
        <div class="col-md-7 px-0">
          <h1 class="display-3 font-italic">About Us</h1>
          <p class="lead my-3"><p class="lead">Our mission is to create a community of friends who help each other move within the city. We can not accomplish this with out you.
        Everyone has a duty and obligation to do right by those around them and with innovation in mind we plan to be your go to place for all your delivery needs. 
      </div>
      </div>
    </main>
    </body>