 <style>
 body {
   background-repeat: no-repeat;
   text-align: justify;
   background-image: url("https://images.unsplash.com/photo-1473445195779-499faea82cb7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50afc673529fa1680061c2f47331b298&auto=format&fit=crop&w=500&q=60");
   background-size: cover;
   color: blue;
}
</style>
<header>
<div id="banner">
    <div class="banner-text">
        <h4>You Business's Delivery Shouldn't Be A Hassle</h4>
        <h2></h2>
        <p></p>
    </div>
</div>
<header>
<body>
<main role="main">
        <div class="jumbotron p-3 text-whiterounded bg-">
        <div class="col-md-8 px-0">
          <h1 class="display-3 font-italic">Business to Business</h1>
          <p class="lead my-3"><p class="lead">We offer state of the art 
          fleet delivery services. That's one less thing for you to have to
           worry about; leave the deliveries to us. For more information about
            our businsess services please contact us.
            <p><a class="btn btn-lg btn-primary" href="contact_us" role="button">Contact Us</a></p>
      </div>
      </div>
    </main>
    </body>