<style>
 body {
   background-repeat: no-repeat;
   text-align: justify;
   background-image: url("https://images.unsplash.com/photo-1444527899111-2f218d8864f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4c0dfbef192d448c4a80cc0c021cc1c&auto=format&fit=crop&w=500&q=60");
   background-size: cover;
   color: white;
}
</style>

<header>
<div id="banner">
    <div class="banner-text">
        <h2>delivr2U</h2>
        <h2></h2>
        <p></p>
    </div>
</div>
<header>
<body>
<main role="main">
        <div class="p-3 text-whiterounded bg-green">
        <div class="col-md-7 px-0">
          <h1 class="display-4 font-italic">Help</h1>
          <p class="lead my-3"><p class="lead">For help during a trip please refer to our contact page. 
    
      </div>
      </div>
    </main>
    </body>