<title>delivr2U</title>
<h2> <span class="badge badge-secondary">On-Demand Delivery on your terms!</span></h2>
<ul><a class="" href="/requests">Submit A Request</a></ul>
<ul><a class="" href="/requests">Learn More</a></ul>
<ul><a class="" href="/muscles">Join Us!</a></ul>

