<style>
 body {
   background-repeat: no-repeat;
   text-align: justify;
   background-image: url("https://images.unsplash.com/photo-1473760737694-97af167fe924?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=852178e7594f2e6a906ee2c2cdded511&auto=format&fit=crop&w=500&q=60");
   background-size: cover;
   color: white;
}
</style>

<body>
<main role="main">
        <div class="p-3 text-whiterounded bg-green">
        <div class="col-md-7 px-0">
          <h1 class="display-4 font-italic">Saftey & Trust</h1>
          <p class="lead my-3"><p class="lead">Rest assured all of 
          our drivers and your belongings are covered with our million 
          dollar liability insurance. In addition all of our drivers
         have passed a comprehensive background check. You and your 
         belongings are safe!
      </div>
      </div>
    </main>
    </body>